@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
nav {
  background-color: #622adb;
}
nav .nav-wrapper {
  padding: 0 20px;
}
main.page  {
  /* min-height: calc(100vh - 130px); */
  padding-top: 50px;
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}
.page {
  padding: 0 20px;
}

.btn.btn-primario {
  background-color: #7135F2;
}
.btn.btn-secundario {
  background-color: #444444;
}

small {
  color: #4b4b4b !important;
}

.input-field input:focus + label {
  color: #7135F2 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #7135F2 !important;
  box-shadow: 0 1px 0 0 #7135F2 !important;
}

.input-field .prefix.active {
  color: #7135F2;
}

.input-field textarea:focus {
  border-bottom: 1px solid #7135F2 !important;
  box-shadow: 0 1px 0 0 #7135F2 !important;
}

[type=radio]:checked + span:after {
  background-color: #7135F2;
  border: 2px solid #7135F2;
}

.card .card-title.secondary {
  font-size: 20px;
}

span.required {
  color: red;
}

.d-none {
  display: none;
}

.parsley-errors-list {
  margin-top: 0;
  color: red;
  font-size: small;
}

.input-field .prefix ~ .parsley-errors-list {
  margin-left: 40px;
}

.parsley-error {
  border-bottom: 1px solid #ff0000 !important;
  box-shadow: 0 1px 0 0 #ff0000 !important;
}

.materialert {
  opacity: 0;
  position: relative;
  min-width: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.1s linear;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.materialert .material-icons {
  margin-right: 10px;
}
.materialert .close-alert {
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: opacity(50);
  position: absolute;
  right: 10px;
}
.materialert ul {
  margin: 0;
}
.materialert.info {
  background-color: #078dcf;
  color: #fff;
}
.materialert.success {
  background-color: #439c47;
  color: #fff;
}
.materialert.error {
  background-color: #d62525;
  color: #fff;
}
.materialert.danger {
  background-color: #d62525;
  color: #fff;
}
.materialert.warning {
  background-color: #fabd24;
  color: #fff;
}

.registro .card-wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.registro .row {
  margin-bottom: 0;
}
.registro .card-title {
  padding-bottom: 20px;
}
.registro .descricao-senha {
  margin-left: 45px;
}
.registro .tipo-conta {
  margin: 30px 0;
}
.registro .estagiario {
  margin-top: 44px;
}
@media (max-width: 600px) {
  .registro .senha-confirm {
    width: calc(100% - 40px) !important;
    margin-left: 40px !important;
  }
}

.page-footer {
  background-color: #622adb;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
}